@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: G8;
  src: url("/fonts/G8321GX.ttf") format("truetype");
  font-weight: 100, 900;
  font-style: normal;
  font-display: swap;
}

@media screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 0.15rem;
  }

  ::-webkit-scrollbar-track {
    background: #ffffff;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(81, 202, 255, 0.56);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(81, 202, 255, 0.56);
  }
}

@layer base {
  :root {
    --background: 198 43% 89%;
    --foreground: 0 0% 15%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 198 100% 71%;
    --primary-foreground: 0 0 100%;

    --secondary: 0 0 100% 0.25;
    --secondary-foreground: 0 0% 15%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 100%;
    --input: 214.3 31.8% 91.4%;
    --ring: 198 100% 71%;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply font-g8 text-foreground font-extrabold;
  }
  * {
    @apply border-border;
  }
  .gradient {
    background: linear-gradient(0deg, #eeeac8 0%, #eeeac8 100%);
  }
  .round > tr:first-child > td:first-child {
    border-radius: 16px 0 0 0;
  }
  .round > tr:first-child > td:last-child {
    border-radius: 0 16px 0 0;
  }

  .round > tr:last-child > td:first-child {
    border-radius: 0 0 0 16px;
  }
  .round > tr:last-child > td:last-child {
    border-radius: 0 0 16px 0;
  }
  .round-fixed > tr:last-child > td:first-child {
    border-radius: 16px 0 0 16px;
  }
  .round-fixed > tr:last-child > td:last-child {
    border-radius: 0 16px 16px 0;
  }

  .hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: @color;
    border-color: @color;
    position: relative;
    display: inline-block;
  }
  .hex:before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
  }
  .hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
  }

  .hourglass {
    display: block;
    margin: 0 0 8px 0;
    background: #000;
    width: 1em;
    height: 1.5em;
    animation: hourglass 1s linear infinite;
  }

  .outer {
    fill: #fff;
  }

  .middle {
    fill: #000000;
  }

  @keyframes hourglass {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      box-shadow: inset #fff 0 -0em 0 0, inset #000000 0 -0.75em 0 0,
        inset #fff 0 -1.5em 0 0;
    }
    80% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      box-shadow: inset #fff 0 -0.75em 0 0, inset #000000 0 -0.75em 0 0,
        inset #fff 0 -0.75em 0 0;
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      box-shadow: inset #fff 0 -0.75em 0 0, inset #000000 0 -0.75em 0 0,
        inset #fff 0 -0.75em 0 0;
    }
  }

  .font-outline-none {
    -webkit-text-stroke: none;
  }

  .font-outline-3 {
    -webkit-text-stroke: 3px #f7ab16 !important;
  }
  .font-outline-1 {
    -webkit-text-stroke: 1.2px #f7ab16 !important;
  }
}

html,
body {
  min-height: 100vh !important;
  height: 100%;
  background-color: #d7e8ef;
}

 {
  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
}

#app {
  height: 100%;
}

@media (max-width: 1024px) {
  html {
    overflow-y: hidden !important;
  }
}

.swiper {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 380px;
  height: 380px;
  @media (max-width: 768px) {
    width: 170px;
    height: 170px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-active {
  @media (max-width: 768px) {
    transform: translateY(20px) !important;
  }
}

#login-container {
  height: 100%;
}

@keyframes brightness {
  0%,
  50%,
  100% {
    filter: blur(0px) brightness(120%)
      drop-shadow(0 0 2.5px rgba(255, 255, 255, 0.1))
      drop-shadow(0 0 5px rgba(255, 255, 255, 0.075))
      drop-shadow(0 0 7.5px rgba(255, 255, 255, 0.045))
      drop-shadow(0 0 10px rgba(255, 255, 255, 0.025));
  }
  25%,
  75% {
    filter: blur(1px) brightness(50%)
      drop-shadow(0 0 2.5px rgba(255, 255, 255, 0.1))
      drop-shadow(0 0 5px rgba(255, 255, 255, 0.075))
      drop-shadow(0 0 7.5px rgba(255, 255, 255, 0.045))
      drop-shadow(0 0 10px rgba(255, 255, 255, 0.025));
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
    animation-timing-function: ease-out; /* Slow start */
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: linear; /* Fast middle */
  }
  100% {
    transform: rotateY(3600deg);
    animation-timing-function: ease-in; /* Slow end */
  }
}
.spinningasset {
  text-align: left;
  transition: all 0.4s ease-out;
  cursor: pointer;
  /*animation: brightness 2.5s infinite linear;*/
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    width: 11px;
    margin: auto;
    background-size: 100px 400%;
    background-position: center;
  }
  > div {
    position: relative;
    z-index: 2;

    perspective: 10000px;
    transform-style: preserve-3d;
    transform-origin: center;
    animation: spin 6s infinite linear;
    > * {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: inherit;
      background-size: cover;
    }

    > div:first-child {
      transform: translateZ(-6px);
    }
    > div:last-child {
      transform: translateZ(6px);
      background-image: url("/images/bitcoin_1.png");
    }
    em {
      filter: blur(0.5px);
      &:first-of-type {
        transform: translateZ(0px) rotateY(-6deg);
      }
      &:last-of-type {
        transform: translateZ(0px) rotateY(6deg);
      }
    }
    i {
      filter: blur(0.5px);
      &:nth-of-type(1) {
        transform: translateZ(-5px);
      }
      &:nth-of-type(2) {
        transform: translateZ(-4px);
      }
      &:nth-of-type(3) {
        transform: translateZ(-3px);
      }
      &:nth-of-type(4) {
        transform: translateZ(-2px);
      }
      &:nth-of-type(5) {
        transform: translateZ(-1px);
      }
      &:nth-of-type(6) {
        transform: translateZ(0px);
      }
      &:nth-of-type(7) {
        transform: translateZ(1px);
      }
      &:nth-of-type(8) {
        transform: translateZ(2px);
      }
      &:nth-of-type(9) {
        transform: translateZ(3px);
      }
      &:nth-of-type(10) {
        transform: translateZ(4px);
      }
      &:nth-of-type(11) {
        transform: translateZ(5px);
      }
    }
  }

  &.coin {
    > div {
      width: 250px;
      height: 250px;
      @media (max-width: 1366px) {
        width: 100px;
        height: 100px;
      }
      > div:first-child {
        /*@reuben Change here*/
        background-image: url("/images/bitcoin_1.png");
      }
      > div:last-child,
      &::after,
      i,
      em {
        /*@reuben Change here*/
        background-image: url("/images/bitcoin_1_back.png");
      }
    }
  }
}
