@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 198 43% 89%;
    --foreground: 0 0% 15%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 198 100% 71%;
    --primary-foreground: 0 0 100%;

    --secondary: 0 0 100% 0.25;
    --secondary-foreground: 0 0% 15%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 100%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply font-g8 text-foreground font-extrabold;
  }
  * {
    @apply border-border;
  }
  .gradient {
    background: linear-gradient(0deg, #eeeac8 0%, #eeeac8 100%);
  }
  .round > tr:first-child > td:first-child {
    border-radius: 16px 0 0 0;
  }
  .round > tr:first-child > td:last-child {
    border-radius: 0 16px 0 0;
  }

  .round > tr:last-child > td:first-child {
    border-radius: 0 0 0 16px;
  }
  .round > tr:last-child > td:last-child {
    border-radius: 0 0 16px 0;
  }
  .round-fixed > tr:last-child > td:first-child {
    border-radius: 16px 0 0 16px;
  }
  .round-fixed > tr:last-child > td:last-child {
    border-radius: 0 16px 16px 0;
  }

  .hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: @color;
    border-color: @color;
    position: relative;
    display: inline-block;
  }
  .hex:before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
  }
  .hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
  }
}
